<h3 class="d-inline-flex bg-light">商品編集</h3>
   <%= form_with model: @Item do |f| %>

    <div class="field mb-16 mt-5">
       <%= f.label :item_image, "商品画像" %>
       <%= f.file_field :item_image, accept:"image/*" %>
    </div>

    <div>
       <%= f.label :name, "商品名" %>
       <%= f.text_field :name %>
   </div>

   <div class="field">
      <%= f.label :introduction, "商品説明" %>
      <%= f.text_area :introduction %>
   </div>


   <div class="field">
      <%= f.label :genre_id, "ジャンル" %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    </div>

   <div>
       <%= f.label :price, "税抜価格" %>
   </div>

   <div>
    <%= f.label :is_active, "販売ステータス" %>
    <%= f.radio_button :is_active, true %>
    <%= f.label :is_active, "販売中" %>
    <%= f.radio_button :is_active, false %>
    <%= f.label :is_active, "販売中止" %>
   </div>



   <%= f.submit '変更を保存', class: "btn btn-success" %>
   <% end %>
</div>
</div>