<div class="row">
 <%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</div>


<%= form_with model: @customer, url: edit_admin_customer_path do |f| %>
<table>
    <tr>
      <td>会員ID</td>
      <td ><%= @customer.id %></td>
    </tr>

     <tr>
      <td><%= f.label :first_name, "氏名" %></td>
      <td><%= f.text_field :first_name, class: "mr-10" %><%= f.text_field :last_name　%></td>
    </tr>

     <tr>
      <td><%= f.label :first_name, "フリガナ" %></td>
      <td><%= f.text_field :first_name_kana, class: "mr-10 mr-10" %><%= f.text_field :last_name_kana%></td></td>
    </tr>

     <tr>
      <td><%= f.label :postal_code, "郵便番号" %></td>
      <td><%=  f.text_field :postal_code %></td>
    </tr>

     <tr>
      <td><%= f.label :address, "住所" %></td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td><%= f.label :telephone_number, "電話番号" %></td>
      <td><%= f.text_field :telephone_number %></td>
    </tr>

     <tr>
      <td><%= f.label :email, "メールアドレス" %></td>
      <td><%= f.text_field :email %></td>
    </tr>

     <tr>
      <td><%= f.label :is_deleted, "会員ステータス" %></td>
      <td><%= f.radio_button :is_active, true %>
          <%= f.label :is_deleted, "有効" %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_deleted, "退会" %></td>
    </tr>
</table>

    <p class="col-4">
    <%= f.submit '変更を保存', class: "btn btn-success col-8" %>
 <% end %>
 </div>
