<h3 class="d-inline-flex bg-light">配送先/一覧</h3>

<div class='row'>
<%= form_with model: @address, url: public_addresses_path do |f| %>
<table>
  <tr>
   <th><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></th>
   <td><%= f.text_field :postal_code %></td>
  </tr>

   <tr>
   <th><%= f.label :adress, '住所' %></th>
   <td><%= f.text_field :address %></td>
  </tr>

   <tr>
   <th><%= f.label :name,'宛名' %></th>
   <td><%= f.text_field :name %></td>
  </tr>

</table>
<%= f.submit '新規登録', class: 'btn btn-success' %>
<% end %>

</div>

<div class='row'>
<table class="table table-bordered">
  <% @addresses.each do |address| %>
  <tr class="bg-secondary">
     <th>郵便番号</th>
     <th>住所</th>
     <th>宛名</th>
     <th></th>
  </tr>
  <tr>
     <td><%= address.postal_code %></td>
     <td><%= address.address %></td>
     <td><%= address.name %></td>
     <td><%= link_to '編集する', edit_public_address_path(address.id), class: 'btn btn-success' %><%= link_to '削除する', public_address_path(address.id), method: :delete, class: 'btn btn-danger' %></td>
     </tr>
  <% end %>
</table>
</div>