

<%= link_to 'カートを空にする', public_cart_items_path, method: :delete, class: "btn btn-danger" %>
 <table class="table table-bordered mt-5">
    <thead>
       <tr>
         <th>商品名</th>
         <th>単価(税込)</th>
         <th>数量</th>
         <th>小計</th>
         <th></th>
       <tr>
    </thead>

    <tbody>
      <% total = 0 %>
     <% @cart_item.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.item.get_image(50,50) %><%= link_to cart_item.item.name, public_item_path(cart_item.id) %></td>
        <td><%= cart_item.item.with_tax_price %></td>
        <td>
          <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
            <%= f.select :amount, *[1..10]%>
            <%= f.submit '変更', class: "btn btn-success" %>
          <% end %>
        </td>
        <td>
          <%= cart_item.subtotal %>
          <% total += cart_item.subtotal %>
        </td>
        <td><%= link_to '削除する', public_cart_item_path(cart_item.id), method: :delete, class: 'btn btn-danger' %></td>
      </tr>
     <% end %>
    </tbody>
</table>
  <%= link_to '買い物を続ける', public_items_path, class: "btn btn-primary" %>

 <table>
   <th>合計金額</th>
   <td><%= total %></td>


 </table>



<%= link_to '情報入力に進む', new_public_order_path, class: "btn btn-success" %>
