<div class="row">
  <div class="col-2">
    <ul class="border">
      <li>ジャンル検索</li>
      <% @genres.each do |genre| %>
      <li><%= genre.name %></li>
      <% end %>
    </ul>
  </div>


<div>商品一覧</div>
    <% @item.each do |item| %>
  <div class="item-box col-3">
    <%= link_to public_item_path(item.id) do %>
    <div><%= image_tag item.get_image(120,100) %></div>
    <div class="item-name"><%= item.name %></div>
    <div class="price">￥<%= %></div>
    <% end %>
  </div>
   <% end %>

</div>
