<div class="row">
  <div class="side-menu col-md-3">

      <ul class="border">
        <h5>ジャンル検索</h5>
        <% @genres.each do |genre| %>
        <li><%= genre.name %></li>
       <% end %>
      </ul>
  </div>


  <div class="image col-4">
    <%= image_tag @item.get_image(120,100) %>
  <div>


  <div class="col-5">
    <h3><%= @item.name %></h3>
    <p><%= @item.introduction %></p>
    <div class="price"><%= @item.price %>円</div>
  <%= form_with model: @cart_item, url: public_cart_items_path do |f| %>
   <%= f.select :amount, *[1..10]%>
   <%= f.hidden_field :item_id, :value => @item.id %>
   <%= f.submit :"カートに入れる" %>
  <% end %>
  </div>



  </div>